.todo-app{
  width: 595px;
  height: 570px;
  border: 3px solid;
  border-radius: 10px;
  background-color: white;
  box-shadow: 3px 3px 12px 4px rgb(0 0 0 / 25%);
  margin: 16px auto;
  position: relative;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid;
  padding-bottom: 16px;
}

.body{
  max-height: 350px;
  width: calc(100% - 15px);
  overflow: auto;
  padding: 8px;
}

.footer{
  display: flex;
  justify-content:space-around;
  position: absolute;
  bottom: 0;
  height: 50px;
  width: calc(100% - 32px);
  padding: 16px;
  border-top: 2px solid;
}

.todoItem{
  display: flex;
  justify-content: space-between;
  width: calc(100%-20px);
  border-bottom: 2px solid;
  padding: 5px 10px 0 15 px;
}

.todoItem_content{

}
.todoItem_button{
  display: flex;
  align-items: center;
}
.todoItem_button--green{

}
.todoItem_button--black{

}

.addTask{
  background-image: url( './images/add\ button.png');  
  height: 30px;
  width: 30px;
  background-size: cover;
  border: none;
  padding-bottom: 10px;
}

.inputTask{
  border: blue solid;
  border-radius: 5px ;
  height: 25px;
  width: 350px;
  margin-right: 10px;
}

.todoItem_button--black{
  background-image: url( './images/Group\ 3.png');  
  height: 30px;
  width: 30px;
  background-size: cover;
  border: none;
  padding-bottom: 10px;
  margin-left: 5px;
}


